.Navbar {
  background-color: var(--primary-text-color);
  height: 80px;
  z-index: 99;
  color: white;
  text-transform: uppercase;
  position: sticky;
  top: 0;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .nav-left {

      .link-group {
        list-style: none;
        text-decoration: none;
        display: flex;
        gap: 20px;

        .link {
          display: inline-block;
          padding: 6px;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .nav-center {
      position: absolute;
      left: 50%;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.3);
      }
    }

  }

  .nav-right {

    .cart-container {
      position: relative;
      display: inline-block;
    }

    .cart-icon {
      font-size: 40px;
      color: #333; /* Change the color as needed */
    }

    .cart-count {
      position: absolute;
      top: -8px; /* Adjust the top position as needed */
      right: -8px; /* Adjust the right position as needed */
      background-color: #ff5733; /* Change the background color as needed */
      color: white;
      font-size: 12px; /* Adjust the font size as needed */
      padding: 6px; /* Adjust padding as needed */
      border-radius: 50%;
      font-weight: bold;
    }
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }
}


@media screen and (max-width: 768px) {
  .Navbar {
    .nav-container {

      .nav-left {
        display: none;
      }

      .nav-center {
        position: static;
        transform: translateX(0);
      }
    }
  }
}
